body {
   background-image: url("https://static.vecteezy.com/system/resources/previews/036/226/872/non_2x/ai-generated-nature-landscapes-background-free-photo.jpg");
   backdrop-filter: blur(10px);
   background-color: rgb(255 255 255 / 30%);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }